<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
.container {
max-width: 560px;
}
</style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center text-primary">
        <h1>Sign Up</h1>
    </div>
    <form action="home.html" th:action th:object="${member}" method="post">
        <div>
            <label for="userId">ID</label>
            <input type="text" id="userId" th:field="*{userId}" class="form-control">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="text" id="password" th:field="*{password}" class="form-control">
        </div>
        <div>
            <label for="userName">Username</label>
            <input type="text" id="userName" th:field="*{userName}" class="form-control">
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit"
                        th:onclick="|location.href='@{/members/add}'|">
                    Sign Up
                </button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="button"
                        th:onclick="|location.href='@{/}'|">
                    Cancel
                </button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>