<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }


    </style>
    <title>LogIn</title>
</head>
<body>
<div class="container">
    <div class="py-5 text-center text-primary">
        <h1>LogIn</h1>
    </div>
    <form th:action="@{/members/login}" th:object="${member}" method="post">

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
        </div>

        <div class="d-flex my-3 fs-4">ID</div>
        <div class="d-flex my-3">
            <input type="text" th:field="*{userId}" th:errorClass="field-error" class="flex-grow-1">
        </div>
        <div class="field-error" th:errors="*{userId}">
            아이디 오류
        </div>

        <div class="d-flex my-3 fs-4">Password</div>
        <div class="d-flex my-3">
            <input type="text" th:field="*{password}" th:errorClass="field-error" class="flex-grow-1">
        </div>
        <div class="field-error" th:errors="*{password}">
            패스워드 오류
        </div>

        <div class="d-flex my-3">
            <button type="submit" class="btn btn-primary me-2 w-50">LogIn</button>
            <button type="button" class="btn btn-primary ms-2 w-50"
                    th:onclick="|location.href='@{/}'|">
                Cancel
            </button>
        </div>
    </form>
</div>
</body>
</html>